<div class="relative max-w-9/10 mx-auto px-6 sm:px-8 md:px-10 py-10">
  <h1 class="text-7xl font-bold mx-auto text-center text-[var(--brown)] p-12">
    Who I'm
  </h1>
  <p class="text-xl">
    My name is Brayan Javier Martínez Pinzón. I'm from Colombia and I'm
    currently 26 years old. I'm an artistic person and have been drawing since
    before I could walk. (or almost)
  </p>
  <p class="text-xl pt-4">
    I've been doing portraits for a few years now, and although I haven't been
    drawing lately, it's something I enjoy. Drawing is important to me because
    it depends a lot on my mood. When I draw, it's because I'm happy.
  </p>
</div>
